* {
    margin: 0px;
    padding: 0px;
  }  
  #container{
    font-family: inter;
    font-weight: 500;
  }
  
  
  #headerSection {
    width: 100%;
    background-color: #aaeaf9;
    height: 90px;
  }
  
  nav{
    float: left;
    padding:20px;
    margin-top: -75px;
    margin-left: 105px;
    }
  nav a{
    margin-right: 20px;
    text-decoration: none;
    color: #19132b;
    font-size: 0.8em;
    font-weight: 700; 

  }
  .searchBar{
    float: right;
    margin-left: 150px;
    margin-top: 15px;
    margin-right: 50px;
    position: relative;
  }

 .searchBar input{
    padding: 8px 8px 8px 8px;
  border-radius: 15px;
  /* margin-left: 300px; */
  font-size: 15px;
  border-style: none;
  font-weight: 500;
  margin-top: 15px;
  width: 160px;
 }
 .searchIcon{
  position: absolute;
  margin-left: 55%;
  cursor: pointer;
  width: 18px;
  height: 18px;
 }

.loginBtn{
  border-radius: 8px;
  background-color:#19132b;
  color: #ffffff;
  border-style: none;
  margin-left:78%;
  font-weight: 500;
  font-size: 17px;
  margin-top: -16%;
  cursor: pointer;
  width: 70px;
  height: 40px;
}
.loginBtn:hover{
  transform: scale(1.1,1.1);
}
#bannerSection {
	width:100%;
	height:569px;
}
.mySlides {
	display:none;
}
#bookingSection{
  background-color:#aaeaf9;
  height: 550px;
  width: 100%;
  position: relative;
}
.text1{
  text-transform: capitalize;
  font-weight: 800;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 23px;
  color: #19132b;
  font-family: nunito;
}


#bookingSection_1 p{
  text-transform:capitalize;
  width: 130px;
  margin-left: 410px;
  margin-top: 30px;
  color:#aaeaf9;
  background-color: #19132b;
  border-radius: 20px;
  font-family: nunito;
  font-size: 15px;
  position: absolute;
  font-weight: 700;
}

.box1{
  background-color: #19132b;
  height: 300px;
  width: 250px;
  margin-left: 550px;
  position: absolute;
  margin-top: 130px;
  border-radius: 15px;
  cursor: pointer;
  
}

.price4{
  color: rgb(255, 255, 255);
  font-family: inter;
  margin-left: 65px;
  margin-top: 60px;
  position: absolute;
  font-size: 20px;
}
.cart{
  margin-top: 75px;
  float: right;
  margin-right: 10px;
}

.feat4{
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  text-transform: capitalize;
  margin-left: 45px;
  margin-bottom: 40px;
  margin-top: 10px;
}
.washing{
  margin-top: 30px;
  border-radius: 10px;
  margin-left: 25px;
}
.washing:hover{
  transform: scale(1.1,1.1);
}

.box2{
  background-color: #19132b;
  height: 300px;
  width: 250px;
  margin-left: 830px;
  position: absolute;
  margin-top: 130px;
  border-radius: 15px;
  cursor: pointer;
  display: none;
}
.price5{
  color: rgb(255, 255, 255);
  font-family: inter;
  margin-left: 70px;
  margin-top: 60px;
  position: absolute;
  font-size: 20px;
}
.cart{
  margin-top: 75px;
  float: right;
  margin-right: 10px;
}

.feat5{
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  text-transform: capitalize;
  margin-left: 45px;
  margin-bottom: 40px;
  margin-top: 10px;
}

.watch{
  margin-top: 30px;
  border-radius: 10px;
  margin-left: 25px;
}
.watch:hover{
  transform: scale(1.1,1.1);
}


.box3{
  background-color: #19132b;
  height: 300px;
  width: 250px;
  margin-left: 1230px;
  position: absolute;
  margin-top: 130px;
  border-radius: 15px;
  cursor: pointer;
  display: none;
}
.price6{
  color: rgb(255, 255, 255);
  font-family: inter;
  margin-left: 70px;
  margin-top: 60px;
  position: absolute;
  font-size: 20px;
}
.cart{
  margin-top: 75px;
  float: right;
  margin-right: 10px;
}

.feat6{
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  text-transform: capitalize;
  margin-left: 30px;
  margin-bottom: 40px;
  margin-top: 10px;
}
.tab{
  margin-top: 30px;
  border-radius: 10px;
  margin-left: 25px;
}
.tab:hover{
  transform: scale(1.1,1.1);
}
.box15{
  background-color: #19132b;
  height: 300px;
  width: 250px;
  margin-left: 180px;
  position: absolute;
  margin-top: 130px;
  border-radius: 15px;
  cursor: pointer;
}
.price8{
  color: rgb(255, 255, 255);
  font-family: inter;
  margin-left: 65px;
  margin-top: 60px;
  position: absolute;
  font-size: 20px;
  
}
.cart{
  margin-top: 75px;
  float: right;
  margin-right: 10px;
}

.feat8{
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  text-transform: capitalize;
  margin-left: 32px;
  margin-bottom: 40px;
  margin-top: 10px;
}
.mouse{
  margin-top: 30px;
  border-radius: 10px;
  margin-left: 25px;
}
.mouse:hover{
  transform: scale(1.1,1.1);
}
.cart:hover{
  transform: scale(1.1,1.1);

}

.box4{
  background-color: #517aa0;
  height: 50px;
  width: 120px;
  margin-left: 1290px;  
  position: absolute;
  margin-top: 405px;
  border-radius: 10px;
  cursor: pointer;
  border: 5px solid #aaeaf9;
  display: none;
}
.box4:hover{
  transform: scale(1.1,1.1);
}

.box5{
  background-color: #517aa0;
  height: 50px;
  width: 120px;
  margin-left: 890px;
  position: absolute;
  margin-top: 405px;
  border-radius: 10px;
  cursor: pointer;
  border: 5px solid #aaeaf9;
display: none;
}
.box5:hover{
  transform: scale(1.1,1.1);
}
.box6{
  background-color: #517aa0;
  height: 50px;
  width: 120px;
  margin-left: 600px;
  position: absolute;
  margin-top: 405px;
  border-radius: 10px;
  cursor: pointer;
  border: 5px solid #aaeaf9;

}
.box6:hover{
  transform: scale(1.1,1.1);
}
.box16{
  background-color: #517aa0;
  height: 50px;
  width: 120px;
  margin-left: 230px;
  position: absolute;
  margin-top: 405px;
  border-radius: 10px;
  cursor: pointer;
  border: 5px solid #aaeaf9;
  
}
.box16:hover{
  transform: scale(1.1,1.1);
}





#bookingSection_1{
  background-color:#517aa0;
  height: 550px;
  margin-top: -15%;
}
.text2{
  text-transform: capitalize;
  font-weight: 800;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 23px;
  color: #aaeaf9;
  font-family: nunito;

}



.box7{
  background-color: #aaeaf9;
  height: 300px;
  width: 250px;
  margin-left: 550px;
  position: absolute;
  margin-top: 130px;
  border-radius: 15px;
  cursor: pointer;

}
.price1{
  color: rgb(0, 0, 0);
  font-family: inter;
  margin-left: 65px;
  margin-top: 60px;
  position: absolute;
  font-size: 20px;
}
.cart{
  margin-top: 50px;
  float: right;
  margin-right: 30px;
}

.feat1{
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  text-transform: capitalize;
  margin-left: 45px;
  margin-bottom: 40px;
  margin-top: 10px;
}
.lap{
  margin-top: 30px;
  border-radius: 10px;
  margin-left: 25px;
}
.lap:hover{
  transform: scale(1.1,1.1);
}


.box8{
  background-color: #aaeaf9;
  height: 300px;
  width: 250px;
  margin-left: 830px;
  position: absolute;
  margin-top: 130px;
  border-radius: 15px;
  cursor: pointer;
display: none;
}
.price2{
  color: rgb(0, 0, 0);
  font-family: inter;
  margin-left: 65px;
  margin-top: 60px;
  position: absolute;
  font-size: 20px;
}
.cart{
  margin-top: 75px;
  float: right;
  margin-right: 10px;
}

.feat2{
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  text-transform: capitalize;
  margin-left: 40px;
  margin-bottom: 40px;
  margin-top: 10px;
}
.head{
  margin-top: 30px;
  border-radius: 10px;
  margin-left: 25px;
}
.head:hover{
  transform: scale(1.1,1.1);
}


.box9{
  background-color: #aaeaf9;
  height: 300px;
  width: 250px;
  margin-left: 1230px;
  position: absolute;
  margin-top: 130px;
  border-radius: 15px;
  cursor: pointer;
display: none;
}
.price3{
  color: rgb(0, 0, 0);
  font-family: inter;
  margin-left: 65px;
  margin-top: 60px;
  position: absolute;
  font-size: 20px;
}
.cart{
  margin-top: 75px;
  float: right;
  margin-right: 10px;
}

.feat3{
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  text-transform: capitalize;
  margin-left: 45px;
  margin-bottom: 40px;
  margin-top: 10px;
}
.airpod{
  margin-top: 30px;
  border-radius: 10px;
  margin-left: 25px;
}
.airpod:hover{
  transform: scale(1.1,1.1);
}
.box10{
  background-color: #aaeaf9;
  height: 300px;
  width: 250px;
  margin-left: 180px;
  position: absolute;
  margin-top: 130px;
  border-radius: 15px;
  cursor: pointer;
}

.price7{
  color: rgb(0, 0, 0);
  font-family: inter;
  margin-left: 65px;
  margin-top: 60px;
  position: absolute;
  font-size: 20px;
}
.cart{
  margin-top: 75px;
  float: right;
  margin-right: 10px;
}

.feat7{
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  text-transform: capitalize;
  margin-left: 32px;
  margin-bottom: 40px;
  margin-top: 10px;
}
.speaker{
  margin-top: 30px;
  border-radius: 10px;
  margin-left: 25px;
}
.speaker:hover{
  transform: scale(1.1,1.1);
}
.box11{
  background-color: #19132b;
  height: 50px;
  width: 120px;
  margin-left: 1290px;
  position: absolute;
  margin-top: 405px;
  border-radius: 10px;
  cursor: pointer;
  border: 5px solid #517aa0;
  display: none;
}
.box11:hover{
  transform: scale(1.1,1.1);
}
.box12{
  background-color: #19132b;
  height: 50px;
  width: 120px;
  margin-left: 890px;
  position: absolute;
  margin-top: 405px;
  border-radius: 10px;
  cursor: pointer;
  border: 5px solid #517aa0;
  display: none;
}
.box12:hover{
  transform: scale(1.1,1.1);
}
.box13{
  background-color: #19132b;
  height: 50px;
  width: 120px;
  margin-left: 600px;
  position: absolute;
  margin-top: 405px;
  border-radius: 10px;
  cursor: pointer;
  border: 5px solid #517aa0;
}
.box13:hover{
  transform: scale(1.1,1.1);
}
.box14{
  background-color: #19132b;
  height: 50px;
  width: 120px;
  margin-left: 230px;
  position: absolute;
  margin-top: 405px;
  border-radius: 10px;
  cursor: pointer;
  border: 5px solid #517aa0;
}
.box14:hover{
  transform: scale(1.1,1.1);

}



#footer{
  background-color: #19132b;
  height: 130px;
  display: flex;
  margin-left: -10px;
}
.foot1{
  

  color: #ffffff;
  font-family: inter;
  font-size: 0.8em;
  padding-top: 30px;
  padding-left: 100px;
  line-height: 1.5em;
  
}

.foot2{
  color: #ffffff;
  margin-left: 40px;
   font-family: inter;
  font-size: 0.8em;
  padding-top: 30px;
  line-height: 2.5em;
  margin-top: -2px;
}
.icons1{
  display: flex;

}

.fb{
  margin-right:10px ;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.fb:hover{
  transform: scale(1.1,1.1);

}
.inst{
  margin-right: 10px;
  cursor: pointer;
width: 20px;
height: 20px;
}
.inst:hover{
  transform: scale(1.1,1.1);

}
.mes{
  margin-right: 10px;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.mes:hover{
  transform: scale(1.1,1.1);

}
.wsp{
  margin-right: 10px;
  cursor: pointer;
    width: 20px;
    height: 20px;
}
.wsp:hover{
  transform: scale(1.1,1.1);

}
.foot3{

    color: #ffffff;
    margin-left: 100px;
     font-family: inter;
    font-size: 1em;
    padding-top: 30px;
    line-height: 2.5em;
  
}
.avail{
  font-size: 0.8em;
  margin-top: -6px;
  margin-left: -60px;
}



#iconBox1{
  background-color: #aaeaf9;
  border-radius: 8px;
  width: 65px;
  margin-left: -60px;
  height: 20px;
  position: relative;
}
.ios{
  color: #000000;
  margin-left: 30px;
  font-size: 18px;
}
.appleLogo{
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -32px;
}
#iconBox2{
  background-color: #aaeaf9;
  border-radius: 8px;
  width: 110px;
  margin-left: 15px;
  height: 21px;
  margin-top: -38px;
}
.playLogo{
  margin-left: 13px;
  margin-top: -32px;
  width: 20px;
  height: 20px;
}
.android{
  text-transform: capitalize;
  margin-left: 40px;
  margin-top: 4px;  
  font-size: 15px;
  color: #000000;
}



.foot4{
  color: #ffffff;
  margin-left: 60px;
   font-family: inter;
  font-size: 1em;
  padding-top: 28px;
  line-height: 2.5em;
}









.get{
  font-family: inter;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: -2px;
  
  margin-left: -30px;
  font-size: 0.8em;
}
.email{
  margin-top: -3px;
margin-left: -30px;  
}
.email input{
  border-radius: 20px;
  border-style: none;
  padding: 8px;
  padding-right: 10px;
  width: 180px;
}
.subscribe{
  font-family: inter;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: -30px;
  margin-left: 62px;
  border-radius: 20px;
  background-color: #19132b;
  cursor: pointer;
  font-size: 0.5em;
 padding: 3px;
 width: 80px;
 height: 23px;
 position: relative;
}
.subText{
  margin-left: 12px;
  margin-top: -8px;
  font-size: 1.5em;
}

#copy{
  color: rgb(0, 0, 0);
  background-color: #aaeaf9;
  height: 30px;
  
}
.copyRight{
  font-family: Arial, Helvetica, sans-serif;
padding-top: 10px;
  margin-left: 400px;
  font-size: 0.8em;
}